*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}
figure {
  margin: 0;
  margin-top: -20px; 
}
h1 { 
  margin-top: 0; 
}
.film {
  width: 80%;
  margin: 40px auto;
  border: 1px solid gray; 
  padding: 20px; 
  display: flex;
  justify-content: center; 
}
.film-details { 
  margin-left: 20px; 
  margin-top: 0; 
}
.action-like { 
  float: right; 
  color: #ff0000; 
  position: relative; 
  top: 360px;  
}
/* icon wasn't responsive with page, temporary fix below */ 
@media (max-width: 1150px) { 
  .action-like { 
    display: none; 
  }
  .film { 
    padding-top: 20px; 
  }
  img { 
    margin-top: 30px; 
  }
}
.action-like-2 { 
  float: right; 
  color: #ff0000;
  position: relative; 
  top: 740px; 
}
/* icon wasn't responsive with page, temporary fix below */ 
@media (max-width: 1150px) { 
  .action-like-2 { 
    display: none; 
  }
}
.action-watch-later {  
  color: #ff0000; 
  position: relative; 
  top: 50px; 
  left: 350px; 
}
/* icon wasn't responsive with page, temporary fix below */ 
@media (max-width: 1150px) { 
  .action-watch-later { 
    display: none; 
  }
}
.action-watch-later-2 { 
  color: #ff0000; 
  position: relative; 
  top: 50px; 
  left: 580px; 
}
/* icon wasn't responsive with page, temporary fix below */ 
@media (max-width: 1150px) { 
  .action-watch-later-2 { 
    display: none; 
  }
}

